<div class="card" routerLink="/investments" title="Investments">
  <div class="title">
    <span>Investments</span>
  </div>
  <div class="content">
    <canvas id="investmentsDoughnutGraph"></canvas>
  </div>
  @if (!loading) {
  <div class="value-container">
    <div class="subtitle">
      <i class="bx bxs-dollar-circle"></i>
      <span>Total Investments :</span>
    </div>
    <span class="number"
      >{{ getTotal() | currency : "EUR" : "" : "1.0-0" }} €</span
    >
  </div>
  } @else {
  <mat-spinner></mat-spinner>
  }
</div>
