<div class="card">
  <div class="update-container">
    <button (click)="update()" class="update" title="Update">
      <i class="bx bxs-edit-alt"></i>
    </button>
  </div>
  <div class="delete-container">
    <button (click)="delete()" class="delete" title="Delete">
      <i class="bx bx-x"></i>
    </button>
  </div>
  <div class="container type" [ngStyle]="{ color: property().color }">
    <i [ngClass]="propertyTypeIcons[property().type]"></i>
    <span>{{ property().type }}</span>
  </div>
  <div class="container">
    <i class="bx bxs-map"></i>
    <span class="label">City :</span>
    <span class="value ellipsis">{{ property().city }}</span>
  </div>
  <div class="container">
    <i class="bx bxs-map-pin"></i>
    <span class="label">Surface :</span>
    <span class="value"
      >{{ property().surface.toLocaleString("fr-FR") }} m²</span
    >
  </div>
  <div class="container">
    <i class="bx bx-money-withdraw"></i>
    <span class="label">Price :</span>
    <span class="value">{{ property().price.toLocaleString("fr-FR") }} €</span>
  </div>
  <div class="container">
    <i class="bx bxl-airbnb"></i>
    <span class="label">Rent :</span>
    <span class="value">{{ property().rent.toLocaleString("fr-FR") }} €</span>
  </div>
  <div class="container">
    <i class="bx bx-sitemap"></i>
    <span class="label">Ownership :</span>
    <span class="value"
      >{{ property().ownershipRatio.toLocaleString("fr-FR") }} %</span
    >
  </div>
  <div class="container">
    <i class="bx bxs-bank"></i>
    <span class="label">Unpaid :</span>
    <span class="value"
      >{{ property().remainingLoan.toLocaleString("fr-FR") }} €</span
    >
  </div>
  <div class="container">
    <i class="bx bxs-right-arrow-circle"></i>
    <span class="label">Total :</span>
    <span class="value" [ngStyle]="{ color: property().color }"
      >{{
        (
          (property().price - property().remainingLoan) *
          (property().ownershipRatio / 100)
        ).toLocaleString("fr-FR")
      }}
      €</span
    >
  </div>
</div>
