<section>
  <div class="title">
    <h2>Transform Your Financial Journey</h2>
  </div>
  <div class="features">
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Expenses.webp'" alt="Expenses.webp" />
      <span
        >Record your expenses effortlessly and automatically view the
        distribution and total in a user-friendly interface.</span
      >
    </div>
    <div class="feature reverse" #feature>
      <span
        >Analyze your investments with detailed graphs showcasing total amounts
        by type, year, and rate of return.</span
      >
      <img
        [src]="imagePath + 'welcome/Investments.webp'"
        alt="Investments.webp"
      />
    </div>
    <div class="feature" #feature>
      <img
        [src]="imagePath + 'welcome/Real-Estate.webp'"
        alt="Real-Estate.webp"
      />
      <span
        >View your real estate investments and track the total rental income
        effortlessly.</span
      >
    </div>
    <div class="feature reverse" #feature>
      <span
        >A powerful compound interest simulator to estimate your stock market
        wealth growth over time.</span
      >
      <img
        [src]="imagePath + 'welcome/Investments-Simulator.webp'"
        alt="Investments-Simulator.webp"
      />
    </div>
    <div class="feature" #feature>
      <img
        [src]="imagePath + 'welcome/Real-Estate-Simulator.webp'"
        alt="Real-Estate-Simulator.webp"
      />
      <span
        >A real estate investment simulator providing detailed insights into
        gross yield, net yield, cash flow, and more.</span
      >
    </div>
  </div>
</section>
