<section>
  <div class="column">
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bxs-credit-card-alt"></i>
        <span>Total :</span>
      </div>
      <span class="number"
        >{{ getTotal() | number : "1.0-0" : "fr-FR" }} € / Month</span
      >
    </div>
    <form>
      @for (expense of expenses.expenses; track $index; let index = $index) {
      <div class="row">
        <mat-form-field>
          <mat-label>TITLE</mat-label>
          <input
            matInput
            [(ngModel)]="expense.title"
            [name]="'title' + index"
            type="text"
            (ngModelChange)="toggleUpdateNeeded()"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>AMOUNT</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="expense.amount"
            [name]="'amount' + index"
            type="number"
            (ngModelChange)="toggleUpdateNeeded()"
            min="0"
            max="1000000000"
            required
          />
          <span matSuffix>€</span>
        </mat-form-field>
        <mat-form-field class="color">
          <mat-label [ngStyle]="{ color: expense.color }">COLOR</mat-label>
          <mat-select
            [ngStyle]="{ color: expense.color }"
            [(ngModel)]="expense.color"
            (ngModelChange)="toggleUpdateNeeded()"
            [name]="'color' + index"
          >
            @for (key of colorKeys; track key) {
            <mat-option [value]="Color[key]">{{ key }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="delete-container">
          <button
            type="button"
            (click)="deleteExpense(index)"
            class="delete"
            title="Delete Expense"
          >
            <i class="bx bx-x"></i>
          </button>
        </div>
      </div>
      }
    </form>
    <div class="button-container">
      <button
        type="button"
        (click)="addExpense()"
        class="add"
        title="Add Expense"
      >
        <i class="bx bx-plus"></i>
      </button>
      @if(updateNeeded) {
      <button
        type="button"
        (click)="updateExpenses()"
        class="update"
        title="Update Expense"
      >
        <i class="bx bx-check"></i>
      </button>
      }
    </div>
    <div class="graph" [ngClass]="{ visible: expenses.expenses.length > 0 }">
      <canvas id="expensesDoughnutGraph"></canvas>
    </div>
    <form>
      <mat-form-field>
        <mat-label>INCOME</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="expenses.income"
          name="income"
          type="number"
          (ngModelChange)="toggleUpdateNeededIncome()"
          min="0"
          max="1000000000"
        />
        <span matSuffix>€</span>
      </mat-form-field>
    </form>
    @if(updateNeededIncome) {
    <div class="button-container">
      <button
        type="button"
        (click)="updateExpenses()"
        class="update"
        title="Update Income"
      >
        <i class="bx bx-check"></i>
      </button>
    </div>
    } @if (expenses.income && ((expenses.income - getTotal()) / expenses.income
    >= 0)) {
    <div class="description">
      <span>
        You have a
        <span>{{
          (expenses.income - getTotal()) / expenses.income
            | percent : "1.1-1" : "fr-FR"
        }}</span>
        savings rate
      </span>
    </div>
    } @else if (expenses.income && ((expenses.income - getTotal()) /
    expenses.income < 0)) {
    <div class="description">
      <span>
        You are losing
        <span style="color: red"
          >{{
            getTotal() - expenses.income | number : "1.0-0" : "fr-FR"
          }}
          €</span
        >
        / Month
      </span>
    </div>
    } @else {
    <div class="description">
      <span>Set an income to see your savings rate</span>
    </div>
    }
  </div>
</section>
@if(loading) {
<mat-spinner></mat-spinner>
}
