<section>
  <div class="column">
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bxs-dollar-circle"></i>
        <span>Total :</span>
      </div>
      <span class="number"
        >{{ getTotal() | number : "1.0-0" : "fr-FR" }} €</span
      >
    </div>
    <div class="content">
      @for (investment of investments.investments; track $index; let index =
      $index) {
      <app-investment
        [investment]="investment"
        (updateEvent)="updateInvestment(investment, index)"
        (deleteEvent)="deleteInvestment(index)"
      ></app-investment>
      }
    </div>
    <div class="button-container">
      <button
        type="button"
        (click)="addInvestment()"
        class="add"
        title="Add Investment"
      >
        <i class="bx bx-plus"></i>
      </button>
    </div>
    <div
      class="graph"
      [ngClass]="{ visible: investments.investments.length > 0 }"
    >
      <canvas id="investmentsDoughnutGraph"></canvas>
    </div>
    <div
      class="graph width"
      [ngClass]="{ visible: investments.investments.length > 0 }"
    >
      <canvas id="investmentsBarGraph"></canvas>
    </div>
    <button
      type="button"
      class="simulator"
      routerLink="/investments/simulator"
      title="Investments Simulator"
    >
      <i class="bx bxs-bar-chart-alt-2"></i>
      <span class="text">Simulator</span>
    </button>
  </div>
</section>
@if(loading) {
<mat-spinner></mat-spinner>
}
