:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  background-color: var(--background);
  color: var(--accent);
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
}

.graph {
  width: 95%;
  height: 500px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
  padding: 0 10px;
}

section form input {
  color: var(--primary);
}

section form mat-label {
  color: var(--accent);
  text-transform: uppercase;
}

::ng-deep section form .mat-mdc-form-field-icon-suffix {
  color: var(--primary);
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--background) !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--accent) !important;
}

::ng-deep mat-form-field.mat-form-field-invalid {
  --secondary: red;
  --accent: red;
}
