<section>
  <div class="results">
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bxs-building-house"></i>
        <span>Total Cost</span>
      </div>
      <span class="number"
        >{{
          realEstateSimulator.results.totalCost | number : "1.0-0" : "fr-FR"
        }}
        €</span
      >
    </div>
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bxl-airbnb"></i>
        <span>Total Rents</span>
      </div>
      <span class="number"
        >{{
          realEstateSimulator.results.totalRents | number : "1.0-0" : "fr-FR"
        }}
        € / M</span
      >
    </div>
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bxs-cog"></i>
        <span>Total Charges</span>
      </div>
      <span class="number"
        >{{
          realEstateSimulator.results.totalCharges | number : "1.0-0" : "fr-FR"
        }}
        € / M</span
      >
    </div>
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bx-sort-up"></i>
        <span>Gross Yield</span>
      </div>
      <span class="number">{{
        realEstateSimulator.results.grossYield | percent : "1.1-1" : "fr-FR"
      }}</span>
    </div>
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bx-sort-down"></i>
        <span>Net Yield</span>
      </div>
      <span class="number">{{
        realEstateSimulator.results.netYield | percent : "1.1-1" : "fr-FR"
      }}</span>
    </div>
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bxs-coin-stack"></i>
        <span>Cash Flow</span>
      </div>
      <span
        class="number"
        [ngStyle]="{
          color: realEstateSimulator.results.cashFlow >= 0 ? '#45d606' : 'red'
        }"
        >{{
          realEstateSimulator.results.cashFlow | number : "1.0-0" : "fr-FR"
        }}
        € / M</span
      >
    </div>
  </div>
  <form>
    <div class="combined">
      <div class="subform">
        <div class="subtitle">
          <i class="bx bxs-building-house"></i>
          <span>Purchase</span>
        </div>
        <mat-form-field>
          <mat-label>PRICE</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="realEstateSimulator.purchase.price"
            name="purchase"
            type="number"
            (ngModelChange)="calculateAmounts()"
            min="0"
            max="1000000000"
            required
          />
          <span matSuffix>€</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>NOTARY FEES</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="realEstateSimulator.purchase.notaryFees"
            name="notary"
            type="number"
            (ngModelChange)="calculateAmounts()"
            min="0"
            max="1000000000"
            required
          />
          <span matSuffix>€</span>
        </mat-form-field>
      </div>
      <div class="subform">
        <div class="subtitle">
          <i class="bx bxs-hard-hat"></i>
          <span>Renovation</span>
        </div>
        <mat-form-field>
          <mat-label>PRICE</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="realEstateSimulator.renovation.price"
            name="renovation"
            type="number"
            (ngModelChange)="calculateAmounts()"
            min="0"
            max="1000000000"
            required
          />
          <span matSuffix>€</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>FURNITURE BUDGET</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="realEstateSimulator.renovation.furnitureBudget"
            name="furniture"
            type="number"
            (ngModelChange)="calculateAmounts()"
            min="0"
            max="1000000000"
            required
          />
          <span matSuffix>€</span>
        </mat-form-field>
      </div>
    </div>
    <div class="subform">
      <div class="subtitle">
        <i class="bx bxs-bank"></i>
        <span>Financing</span>
      </div>
      <mat-form-field>
        <mat-label>DOWN PAYMENT</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.financing.downPayment"
          name="down"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="1000000000"
          required
        />
        <span matSuffix>€</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>LOAN RATE</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.financing.loanRate"
          name="loan"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="100"
          required
        />
        <span matSuffix>%</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>INSURANCE RATE</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.financing.insuranceRate"
          name="insurance"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="100"
          required
        />
        <span matSuffix>%</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>DURATION (YEARS)</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.financing.duration"
          name="duration"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="40"
          required
        />
        <span matSuffix>Y</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>TOTAL BORROWED</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.financing.totalBorrowed"
          name="borrowed"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="1000000000"
          disabled
        />
        <span matSuffix>€</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>MONTHLY PAYMENTS</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.financing.monthlyPayments"
          name="monthly"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="1000000000"
          disabled
        />
        <span matSuffix>€</span>
      </mat-form-field>
    </div>
    <div class="subform">
      <div class="subtitle">
        <i class="bx bxs-credit-card-alt"></i>
        <span>Annual Expenses</span>
      </div>
      <mat-form-field>
        <mat-label>PROPERTY TAX</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.annualExpenses.propertyTax"
          name="property"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="1000000000"
          required
        />
        <span matSuffix>€</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>PNO INSURANCE</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.annualExpenses.pnoInsurance"
          name="pno"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="1000000000"
          required
        />
        <span matSuffix>€</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>CO-OWNERSHIP CHARGES</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.annualExpenses.coownershipCharges"
          name="ownership"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="1000000000"
          required
        />
        <span matSuffix>€</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>OTHER CHARGES</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.annualExpenses.otherCharges"
          name="other"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="1000000000"
          required
        />
        <span matSuffix>€</span>
      </mat-form-field>
    </div>
    <div class="subform">
      <div class="subtitle">
        <i class="bx bxl-airbnb"></i>
        <span>Rent</span>
      </div>
      <mat-form-field>
        <mat-label>NUMBER OF LOTS</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.rent.lotsNumber"
          name="lots"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="1"
          max="100"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>RENT PER LOT</mat-label>
        <input
          appDisableScroll
          matInput
          [(ngModel)]="realEstateSimulator.rent.rentPerLot"
          name="rent"
          type="number"
          (ngModelChange)="calculateAmounts()"
          min="0"
          max="1000000000"
          required
        />
        <span matSuffix>€</span>
      </mat-form-field>
    </div>
  </form>
</section>
