section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--accent);
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
  width: 100%;
  max-width: 1100px;
  min-height: 400px;
  cursor: pointer;
  transition: 0.5s ease;
}

section:hover {
  background-color: var(--accent);
}

section .title {
  position: absolute;
  transition: 0.5s ease;
  top: 10px;
  color: var(--secondary);
}

section:hover .title {
  color: var(--primary);
}

section .title span {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
}

section .content {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

section .value-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

section .value-container .element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
  padding: 7px 0;
}

section .value-container .subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
}

section .value-container .number {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
  margin-right: 5px;
  transition: 0.5s ease;
}

section:hover .value-container .number {
  color: var(--primary);
}

section .value-container i {
  font-size: 40px;
  margin-right: 10px;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section .content .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 200px;
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
}

section .content .card .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section .content .card .container.type {
  color: var(--accent);
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  transition: 0.5s ease;
}

section:hover .content .card .container.type {
  color: var(--primary);
}

section .content .card .container {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
}

section .content .card .container span {
  text-align: center;
  width: 160px;
}

section .content .card .container span.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section .content .card .container i {
  font-size: 30px;
}

@media screen and (max-width: 894px) {
  section .content {
    margin-bottom: 100px;
  }
}
