<section routerLink="/real-estate" title="Real Estate">
  <div class="title">
    <span>Real Estate</span>
  </div>
  <div class="content">
    <canvas id="realEstateDoughnutGraph"></canvas>
  </div>
  @if (!loading()) {
  <div class="value-container">
    <div class="element">
      <div class="subtitle">
        <i class="bx bxs-building-house"></i>
        <span>Total :</span>
      </div>
      <span class="number"
        >{{ getTotal() | number : "1.0-0" : "fr-FR" }} €</span
      >
    </div>
  </div>
  } @else {
  <mat-spinner></mat-spinner>
  }
</section>
