<section>
  <div class="column">
    <div class="value-container">
      <div class="element">
        <div class="subtitle">
          <i class="bx bxs-building-house"></i>
          <span>Total :</span>
        </div>
        <span class="number"
          >{{ getTotal() | number : "1.0-0" : "fr-FR" }} €</span
        >
      </div>
      <div class="element">
        <div class="subtitle">
          <i class="bx bxl-airbnb"></i>
          <span>Rent :</span>
        </div>
        <span class="number"
          >{{ getTotalRent() | number : "1.0-0" : "fr-FR" }} € / Month</span
        >
      </div>
    </div>
    <div class="content">
      @for (property of realEstate.properties; track $index; let index = $index)
      {
      <div class="card">
        <div class="container type">
          <i class="bx bxs-building-house"></i>
          <span>{{ property.type }}</span>
        </div>
        <div class="container">
          <i class="bx bxs-map"></i>
          <span class="label">City :</span>
          <span class="value ellipsis">{{ property.city }}</span>
        </div>
        <div class="container">
          <i class="bx bxs-map-pin"></i>
          <span class="label">Surface :</span>
          <span class="value">{{ property.surface }} m²</span>
        </div>
        <div class="container">
          <i class="bx bx-money-withdraw"></i>
          <span class="label">Price :</span>
          <span class="value">{{ property.price }} €</span>
        </div>
        <div class="container">
          <i class="bx bxl-airbnb"></i>
          <span class="label">Rent :</span>
          <span class="value">{{ property.rent }} €</span>
        </div>
        <div class="container">
          <i class="bx bx-sitemap"></i>
          <span class="label">Ownership :</span>
          <span class="value">{{ property.ownershipRatio }} %</span>
        </div>
        <div class="container">
          <i class="bx bxs-bank"></i>
          <span class="label">Unpaid :</span>
          <span class="value">{{ property.remainingLoan }} €</span>
        </div>
      </div>
      }
    </div>
    <div class="button-container">
      <button
        type="button"
        (click)="addProperty()"
        class="add"
        title="Add Property"
      >
        <i class="bx bx-plus"></i>
      </button>
    </div>
    <button
      type="button"
      class="simulator"
      routerLink="/real-estate/simulator"
      title="Real Estate Simulator"
    >
      <i class="bx bx-spreadsheet"></i>
      <span class="text">Simulator</span>
    </button>
  </div>
</section>
@if(loading) {
<mat-spinner></mat-spinner>
}
