:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  background-color: var(--background-card);
  color: var(--accent);
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
}

.graph {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s linear 1s;
}

.graph.visible {
  width: 100%;
  height: 500px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out;
}

.graph.width {
  width: 95%;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section .content {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 95%;
}

section .add {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
  color: var(--accent);
  border-radius: var(--light-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--background-card);
}

section .add i {
  font-size: 50px;
}

section .add:hover {
  color: var(--primary);
  background-color: var(--accent);
}

section .value-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

section .value-container .element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
  padding: 7px 0;
}

section .value-container .subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
}

section .value-container .number {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
  margin-right: 5px;
}

section .value-container i {
  font-size: 40px;
  margin-right: 10px;
}

mat-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--accent) !important;
}

.simulator {
  margin: 10px 0;
  cursor: pointer;
  background-color: var(--background-card);
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 150px;
  border: none;
  box-shadow: var(--box-shadow);
}

.simulator:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.simulator i {
  font-size: 30px;
}

.simulator .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
