<section>
  <div class="column">
    <div class="value-container">
      <div class="element">
        <div class="subtitle">
          <i class="bx bxs-building-house"></i>
          <span>Total :</span>
        </div>
        <span class="number"
          >{{ getTotal() | number : "1.0-0" : "fr-FR" }} €</span
        >
      </div>
      <div class="element">
        <div class="subtitle">
          <i class="bx bxl-airbnb"></i>
          <span>Rent :</span>
        </div>
        <span class="number"
          >{{ getTotalRent() | number : "1.0-0" : "fr-FR" }} € / Month</span
        >
      </div>
    </div>
    <form>
      @for (property of realEstate.properties; track $index; let index = $index)
      {
      <div class="card">
        <mat-form-field>
          <mat-label>TYPE</mat-label>
          <mat-select
            [(ngModel)]="property.type"
            (ngModelChange)="toggleUpdateNeeded()"
            [name]="'type' + index"
          >
            @for (type of PropertyType; track type) {
            <mat-option [value]="type">{{ type }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>CITY</mat-label>
          <input
            matInput
            [(ngModel)]="property.city"
            [name]="'city' + index"
            type="text"
            (ngModelChange)="toggleUpdateNeeded()"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>SURFACE</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="property.surface"
            [name]="'surface' + index"
            type="number"
            (ngModelChange)="toggleUpdateNeeded()"
            min="0"
            max="1000000000"
            required
          />
          <span matSuffix>m²</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>PRICE</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="property.price"
            [name]="'price' + index"
            type="number"
            (ngModelChange)="toggleUpdateNeeded()"
            min="0"
            max="1000000000"
            required
          />
          <span matSuffix>€</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>RENT</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="property.rent"
            [name]="'rent' + index"
            type="number"
            (ngModelChange)="toggleUpdateNeeded()"
            min="0"
            max="1000000000"
            required
          />
          <span matSuffix>€</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>OWNERSHIP</mat-label>
          <input
            appDisableScroll
            matInput
            [(ngModel)]="property.ownershipRatio"
            [name]="'ownershipRatio' + index"
            type="number"
            (ngModelChange)="toggleUpdateNeeded()"
            min="0"
            max="100"
            required
          />
          <span matSuffix>%</span>
        </mat-form-field>
        <div class="delete-container">
          <a
            (click)="deleteProperty(index)"
            class="delete"
            title="Delete Property"
          >
            <i class="bx bx-x"></i>
          </a>
        </div>
      </div>
      }
    </form>
    <div class="button-container">
      <a (click)="addProperty()" class="add" title="Add Property">
        <i class="bx bx-plus"></i>
      </a>
      @if(updateNeeded) {
      <a (click)="updateProperties()" class="update" title="Update Properties">
        <i class="bx bx-check"></i>
      </a>
      }
    </div>
    <a
      class="simulator"
      routerLink="/real-estate/simulator"
      title="Real Estate Simulator"
    >
      <i class="bx bx-spreadsheet"></i>
      <span class="text">Simulator</span>
    </a>
  </div>
</section>
@if(loading) {
<mat-spinner></mat-spinner>
}
