<section>
  <div class="column">
    <div class="value-container">
      <div class="element">
        <div class="subtitle">
          <i class="bx bxs-building-house"></i>
          <span>Total :</span>
        </div>
        <span class="number"
          >{{ getTotal() | number : "1.0-0" : "fr-FR" }} €</span
        >
      </div>
      <div class="element">
        <div class="subtitle">
          <i class="bx bxl-airbnb"></i>
          <span>Rent :</span>
        </div>
        <span class="number"
          >{{ getTotalRent() | number : "1.0-0" : "fr-FR" }} € / Month</span
        >
      </div>
    </div>
    <div class="content">
      @for (property of realEstate.properties; track $index; let index = $index)
      {
      <app-property
        [property]="property"
        (updateSessionEvent)="updateProperty(property, index)"
        (deleteSessionEvent)="deleteProperty(index)"
      ></app-property>
      }
    </div>
    <div class="button-container">
      <button
        type="button"
        (click)="addProperty()"
        class="add"
        title="Add Property"
      >
        <i class="bx bx-plus"></i>
      </button>
    </div>
  </div>
  <div class="graph" [ngClass]="{ visible: realEstate.properties.length > 0 }">
    <canvas id="realEstateDoughnutGraph"></canvas>
  </div>
  <button
    type="button"
    class="simulator"
    routerLink="/real-estate/simulator"
    title="Real Estate Simulator"
  >
    <i class="bx bx-spreadsheet"></i>
    <span class="text">Simulator</span>
  </button>
</section>
@if(loading) {
<mat-spinner></mat-spinner>
}
