.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  max-width: 300px;
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
}

.card .update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.card .update-container .update {
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: var(--accent);
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--background-card);
}

.card .update-container .update i {
  font-size: 30px;
}

.card .update-container .update:hover {
  color: var(--primary);
  background-color: var(--accent);
}

.card .delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.card .delete-container .delete {
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: red;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--background-card);
}

.card .delete-container .delete i {
  font-size: 50px;
}

.card .delete-container .delete:hover {
  color: var(--primary);
  background-color: red;
}

.card .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card .container.first {
  margin-top: 40px;
}

.card .container {
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.card .container i {
  font-size: 30px;
}

.card .container .label {
  width: 95px;
  font-size: 18px;
  font-weight: 500;
}

.card .container .value {
  width: 120px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}

.card .container .value.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 370px) {
  .card .container .value {
    width: 120px;
  }
}
