<section>
  <div class="flex">
    <app-expenses-home
      [expenses]="expenses"
      [loading]="loading"
    ></app-expenses-home>
    <app-investments-home
      [investments]="investments"
      [loading]="loading"
    ></app-investments-home>
  </div>
  <div class="flex">
    <app-real-estate-home
      [realEstate]="realEstate"
      [loading]="loading"
    ></app-real-estate-home>
    <app-progress-home
      [progress]="progress"
      [loading]="loading"
    ></app-progress-home>
  </div>
</section>
