section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

section .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.flex * {
  margin: 10px;
  width: 100%;
  max-width: 540px;
}

@media screen and (max-width: 885px) {
  .flex {
    flex-wrap: wrap;
  }

  .flex * {
    max-width: none;
  }
}
