<section mat-dialog-content>
  <h1>Update Investment</h1>
  <form class="content" (ngSubmit)="confirm()">
    <mat-form-field>
      <mat-label>TITLE</mat-label>
      <input
        matInput
        [(ngModel)]="investment.title"
        name="title"
        type="text"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>AMOUNT</mat-label>
      <input
        appDisableScroll
        matInput
        [(ngModel)]="investment.totalAmount"
        name="totalAmount"
        type="number"
        min="0"
        max="1000000000"
        required
      />
      <span matSuffix>€</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label>INTEREST RATE</mat-label>
      <input
        appDisableScroll
        matInput
        [(ngModel)]="investment.interestRate"
        name="interestRate"
        type="number"
        min="0"
        max="100"
        required
      />
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label [ngStyle]="{ color: investment.color }">COLOR</mat-label>
      <mat-select
        [ngStyle]="{ color: investment.color }"
        [(ngModel)]="investment.color"
        name="color"
      >
        @for (key of colorKeys; track key) {
        <mat-option [value]="Color[key]">
          <div class="flex">
            <span class="type">{{ key.replace("_", " ") }}</span>
          </div></mat-option
        >
        }
      </mat-select>
    </mat-form-field>
    <div class="button-container">
      <button type="button" title="Cancel" (click)="cancel()" class="delete">
        <i class="bx bx-x"></i>
        <span class="text">Cancel</span>
      </button>
      <button type="submit" title="Confirm">
        <i class="bx bx-check"></i>
        <span class="text">Confirm</span>
      </button>
    </div>
  </form>
</section>
